<%= render "navbar" %>
<div class="container p-4">
  <div class="mb-3">
      <h1>
        <%= @restaurant.name %>
      </h1>
      <p><%= @restaurant.category %></p>
      <p><%= @restaurant.address %></p>
  </div>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="d-flex justify-content list-group-item border-0 bg-light">
        <p>
          <% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
        </p>
        <p class="margin">
          <%= review.content %>
        </p>
      </li>
    <% end %>
  </ul>
  <br>
<div class="container p-4">
  <h1>New review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: (0..5) %>
    <%= f.submit "Review", class: "btn btn-secondary" %>
  <% end %>
</div>
</div>
